<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
}

p {
  color: #666;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional Styling */
h2, p {
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
}

img{
  height:300px;
}
    </style>
</head>
<body>
    <h2><%=user.username%></h2>
    <p><%=user.password%></p>
     <p><%=user.city%></p>
     <img src="<%= user.image %>">
</body>
</html>